# Environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Secrets
.env
*.env

# IDE settings
.idea/
.vscode/

# Build artifacts and logs
*.log
*.xml
*.prof
*.pid
*.seed
*.out
*.err
*.sh

# Website output
/docs/

# Pytest
.pytest_cache/